<div id="<%= dom_id team_member %>">
  <p>
    <strong>Name:</strong>
    <%= team_member.name %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= team_member.role %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= team_member.project_id %>
  </p>

</div>
